# Your instance
DISPATCHARR_URL=http://192.168.1.100:9090
DISPATCHARR_USER=admin
DISPATCHARR_PASS=change-me

# Port this app listens on
PORT=8790

# Floor on how often the backend will hit Dispatcharr, in ms
POLL_MIN_MS=2000
